@import "tailwindcss";
@import "../../../../styles.css";

.skills-category-list {
  @apply flex flex-row h-auto justify-center gap-6 text-2xl items-center flex-wrap my-10;
}

.skills-category-list li {
  @apply border-2  p-2 rounded-3xl px-10 cursor-pointer transition-all duration-300;
}
.skills-gallery {
  @apply container mx-auto px-4 flex flex-col items-center;
  max-width: 1200px;
  min-height: 400px;
}

.featured-skills {
  @apply flex flex-row flex-wrap justify-center gap-2 mb-12 w-full;
  min-height: 200px;
}

.other-skills {
  @apply flex flex-row flex-wrap justify-center gap-1 w-full opacity-40;
}

.skill-item {
  @apply flex flex-col items-center gap-2 p-4;
}

.other-skills .skill-item {
  opacity: 0.4;
}

.skill-item.featured {
  @apply basis-40 p-6;
}

.skill-item:not(.featured) {
  @apply basis-24 p-2;
}

.skill-item.featured img {
  @apply size-24;
}

.skill-item img {
  @apply size-12 object-contain;
}

.skill-item span {
  @apply text-sm text-center;
}

.skill-item.featured span {
  @apply text-lg;
}



