<ul class="skills-category-list">
  @for (type of skillsTypes; track $index) {
  <li
    (click)="selectedTypeChange(type)"
    [class.selected]="selectedType === type"
  >
    {{ type }}
  </li>
  }
</ul>
<div class="skills-gallery" >
  <div class="featured-skills">
    @for (skill of getSelectedSkills(); track $index) {
    <div class="skill-item featured">
      <img [src]="'/skills/' + skill.img" [alt]="skill.title + ' icon'" />
      <span>{{ skill.title }}</span>
    </div>
    }
  </div>
  <div class="other-skills">
    @for (skill of getNonSelectedSkills(); track $index) {
    <div class="skill-item">
      <img [src]="'/skills/' + skill.img" [alt]="skill.title + ' icon'" />
      <span>{{ skill.title }}</span>
    </div>
    }
  </div>
</div>
