@import "tailwindcss";
@import "../../../../styles.css";
.skills-category-list {
  @apply flex flex-row  h-auto justify-center gap-6 text-2xl  items-center flex-wrap my-10 border-emerald-300 border;
}
.skills-category-list li {
  @apply border-2 border-white p-2 rounded-3xl px-10;
}
.skills-list-container {
  @apply w-full overflow-hidden;
  perspective: 1000px;
}

.skills-list-slider {
  @apply flex h-auto relative;
  transform-style: preserve-3d;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  @apply transition-all duration-500 w-full;
  position: absolute;
  transform: translateX(calc(100% * var(--position))) translateZ(calc(-400px * (1 - var(--active)))) rotateY(calc(-45deg * (1 - var(--active))));
  opacity: calc(0.4 + (0.6 * var(--active)));
}

.skills-group {
  @apply flex flex-row w-full justify-center gap-6 items-center  border-blue-400 flex-wrap;
}
.skills-group li {
  @apply p-2 rounded-3xl  flex flex-col items-center gap-3 mb-5 text-xl text-center text-nowrap border border-orange-500 overflow-hidden;
}

.skills-group img {
  @apply size-20 object-contain;
}
