<ul class="skills-category-list">
  @for (type of skillsTypes; track $index) {
  <li
    (click)="selectedTypeChange(type)"
    [class.selected]="selectedType === type"
    class="btn-secondary-outline"
  >
    {{ type }}
  </li>
  }
</ul>
<div class="skills-gallery">
  @if (isVisible) {
    <div class="featured-skills">
      @for (skill of getSelectedSkills(); track $index) {
      <div
        class="skill-item featured scale"
        [style.animation-delay]="$index * 0.1 + 's'"
      >
        <img [src]="'/skills/' + skill.img" [alt]="skill.title + ' icon'" />
        <span>{{ skill.title }}</span>
      </div>
      }
    </div>
    <div class="other-skills">
      @for (skill of getNonSelectedSkills(); track $index) {
      <div 
        class="skill-item scale" 
        [style.animation-delay]="$index * 0.1 + 's'"
      >
        <img [src]="'/skills/' + skill.img" [alt]="skill.title + ' icon'" />
        <span>{{ skill.title }}</span>
      </div>
      }
    </div>
  }
</div>
