@import "tailwindcss";
@import "../../../../styles.css";

:host {
  display: block;
}
.projects-container {
  @apply flex flex-col lg:flex-row gap-5 p-5 lg:px-10 py-20 w-screen overflow-auto justify-center;
}
.project-selector {
  @apply flex lg:flex-col p-2 lg:w-1/3  gap-2 flex-none z-50 max-h-[600px] overflow-auto items-start justify-start w-full lg:max-w-[250px] xl:max-w-[350px];
}

::-webkit-scrollbar {
  @apply w-1 h-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-500/25 rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.project-selector li {
  @apply size-full  border rounded-md h-28 aspect-square backdrop-blur-xl hover:border-primary-300/40 hover:bg-primary-800/5 cursor-pointer active:shadow-md active:shadow-primary-500/5 transition-all duration-75 active:border-2 active:border-primary-500/75 w-full min-w-40;
}
.project-selector li img {
  @apply size-full object-contain active:scale-95 hover:scale-105;
}
.project-info {
  @apply rounded-md flex flex-col gap-2 flex-1 min-w-0 mb-10 mt-5 lg:mt-0 w-full p-5 lg:p-0 max-w-[1200px] hyphens-auto;
}
.project-info-images {
  @apply w-full mb-3 md:mb-0;
}
.img-bg {
  @apply relative bg-[url("/gal-img/ATSIMG.webp")] bg-cover bg-center bg-no-repeat  h-80 sm:h-auto sm:aspect-video w-full transition-transform duration-300;
}
.img-min {
  @apply size-28 sm:size-32 md:size-48 border-amber-800 object-cover
  absolute transition-shadow duration-150 shadow-sm;
}
.img-min:hover {
  @apply shadow-primary-500/25 scale-105 cursor-pointer;
}
.img-min:active {
  @apply shadow-primary-500/50 scale-100 cursor-pointer;
}

.img-min-1 {
  @apply -top-5 -left-5 -rotate-6;
  animation: appearL 0.5s both;
}
.img-min-1:hover {
  @apply -top-6 -left-6 -rotate-7 shadow-xl;
}
.img-min-1:hover > img {
  @apply scale-75;
}
.img-min-2 {
  @apply -bottom-5 -right-5 rotate-6;
  animation: appearR 1s both;
}
.img-min-2:hover {
  @apply -bottom-6 -right-6 rotate-7 shadow-xl;
}

@keyframes appearL {
  from {
    transform: scale(0.25) rotate(45deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
@keyframes appearR {
  from {
    transform: scale(0) rotate(-45deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}
.colors {
  @apply w-auto border-amber-800 object-cover
  absolute -top-5 -right-5 flex transition-transform duration-75;
}
.colors li:hover {
  @apply scale-95 cursor-pointer translate-y-1;
  border: 1px solid var(--hover-color);
  box-shadow: 0 0 10px var(--hover-color);
}
.colors li:active {
  @apply scale-90 transition-none;
  border: 2px solid var(--hover-color);
  box-shadow: 0 0 20px var(--hover-color);
}
.colors li {
  @apply size-14 border-black/50 border transition-all duration-300;
}

.project-info-technologies {
  @apply flex flex-row w-full h-auto gap-2 items-center flex-wrap mt-2 hyphens-none;
}
.project-info-technologies li {
  @apply p-2 object-contain h-8 flex items-center gap-2 border border-primary-300/50 w-auto hover:border-2 hover:border-primary-300/75 hover:bg-primary-800/5 cursor-pointer active:shadow-md active:shadow-primary-500/5 transition-all duration-75 active:border-2 active:border-primary-500/75 select-none;
}
.project-info-technologies li img {
  @apply size-full object-contain active:scale-95 hover:scale-105;
}
.project-info h2 {
  @apply text-5xl font-black italic;
}
.project-info p {
  @apply text-xl;
}
.project-info-btns {
  @apply flex flex-row w-full h-auto gap-2 items-center  flex-wrap mt-2;
}
.btn {
  @apply p-0 rounded-sm w-36 text-center text-2xl font-black relative z-10;
}

.btn::before,
.btn::after {
  content: "";
  @apply absolute left-0 w-full h-0 transition-all duration-300 -z-10;
}

.btn::before {
  @apply top-0;
}

.btn::after {
  @apply bottom-0;
}

.btn:hover::before,
.btn:hover::after {
  @apply h-1/2;
}

.btn-primary {
  @apply border-2 border-primary-300 text-primary-500;
}

.btn-primary::before,
.btn-primary::after {
  @apply bg-primary-500;
}

.btn-primary:hover {
  @apply text-black;
}

.btn-secondary {
  @apply border-2 border-white text-white flex px-1 items-center gap-2;
}

.btn-secondary::before,
.btn-secondary::after {
  @apply bg-white;
}

.btn-secondary:hover {
  @apply text-black;
}

.btn-figma {
  @apply text-white bg-[#2c2c2c] flex items-center p-[2px];
  background: linear-gradient(90deg, #f24e1e, #a259ff, #0acf83);
  background-size: 150% 100%;
}

.btn-figma:hover {
  background-position: 100% 0;
}

.btn:active {
  @apply transition-none duration-75 rotate-3 scale-95 border-none;
}

.btn-secondary img {
  @apply size-6 bg-black rounded-full;
}

.btn-figma div {
  @apply text-white bg-[#2c2c2c] flex items-center w-full rounded gap-1;
  transition: background-color 0.3s ease;
}
.btn-figma:hover div {
  @apply bg-transparent;
}
.btn-figma img {
  @apply size-8;
  transition: transform 0.3s ease;
}
.btn-figma:hover img {
  transform: scale(1.1);
}
img {
  @apply select-none;
  user-select: none;
  -webkit-user-drag: none;
}

.draggable {
  @apply cursor-grab;
}

.draggable:active {
  @apply cursor-grabbing;
}
