<div class="w-full h-auto  flex justify-center items-center flex-col lg:py-5">
  <div
    class="experience-title-card"
    [ngClass]="{
      '-rotate-3': cardType === 'work-experience',
      'rotate-3': cardType === 'education',
    }"
  >
    @if (titleType=='divided') {
    <img
      src="/icon2.webp"
      alt=""
      class="absolute -top-5 -left-5 size-16 -rotate-6 floatingY scale"
    />
    <span class="">
      {{ dividedTitle[0] }} <br />
      <strong class="text-primary-500 font-black">
        {{ dividedTitle[1] }}
      </strong></span
    >
    }@else {
    <img
      src="/icon1.webp"
      alt=""
      class="absolute -top-7 -right-7 size-20 rotate-6 floatingY scale"
    />
    <span class="text-4xl sm:text-5xl">{{ title }}</span>
    }
  </div>
  <ul
    class="experience-cotent-list"
    [ngClass]="{
    'ml-7': cardType === 'work-experience',
    '-rotate-3': cardType === 'work-experience',
    'rotate-3': cardType === 'education',
    'mr-7': cardType === 'education',
  }"
  >
    @for (item of curriculumItems; track $index) {
    <li class="experience-cotent-list-item">
      <span class="font-black text-xl">
        {{ item.date_range }}
      </span>
      <p class="font-black text-2xl sm:text-4xl uppercase text-primary-500 break-words">
        {{ item.title }}
      </p>
      <p
        class="text-md"
        [ngClass]="{
        'text-xl': cardType === 'education',
      }"
      >
        {{ item.description }}
      </p>
    </li>
    }
  </ul>
</div>
