<app-navbar />
<section id="title"></section>

<section id="about">
  <span class="rasgadura-up"></span>
  <div
    class="lg:w-1/2 flex flex-col gap-3 -rotate-3 font-bold lg:max-w-[600px]"
  >
    <app-hover-string
      [text]="translations[currentLanguage].about.title"
      growSize="7xl"
      class="text-6xl uppercase"
    />
    <p
      class="text-xl sm:text-2xl md:text-3xl"
      [innerHTML]="translations[currentLanguage].about.text1 | textFormat"
    ></p>
    <p
      class="text-xl sm:text-2xl md:text-3xl"
      [innerHTML]="translations[currentLanguage].about.text2 | textFormat"
    ></p>
    <img
      src="/decoration/arrow1.webp"
      alt="marco foto perfil"
      class="size-20 object-contain absolute bottom-10 -right-10 -rotate-90 hidden lg:block floatingX scale"
    />
    <div class="flex gap-4">
      <img
        src="github.svg"
        alt="github icon"
        class="size-8 sm:size-12 scale cursor-pointer"
      />
      <img
        src="linkedin.svg"
        alt="linkedin icon"
        class="size-8 sm:size-12 scale cursor-pointer"
      />
      <a
        [href]="translations[currentLanguage].resume.url"
        class="flex gap-1 items-center text-xl"
        target="_blank"
      >
        <img
          src="resume-es.svg"
          alt="resume icon"
          class="size-8 sm:size-12 scale cursor-pointer"
        />
        {{ translations[currentLanguage].resume.text }}
      </a>
    </div>
  </div>
  <div
    class="lg:w-1/2 max-w-[400px] lg:max-w-[600px] rotate-6 w-full flex items-center justify-center"
  >
    <img
      src="/decoration/marco1.webp"
      alt="marco foto perfil"
      class="floatingY"
    />
  </div>
  <span class="rasgadura-down"></span>
</section>
<section id="curriculum">
  <div
    class="overflow-hidden h-auto w-full bg-primary-500 text-secondary-500 flex items-center rotate-2 absolute top-32"
  >
    <div
      class="marquee flex whitespace-nowrap text-3xl font-bold gap-1 uppercase"
    >
      @for (text of marqueeTexts; track $index) {
      <p>{{ text }}</p>
      }
    </div>
  </div>
  <div class="curriculum-list-container">
    <app-curriculum-list
      class="size-full"
      cardType="work-experience"
      titleType="divided"
    />
    <app-curriculum-list
      class="size-full"
      cardType="education"
      titleType="solo"
    />
  </div>
</section>
<section id="skills">
  <div class="skills-container">
    <div
      class="rounded-md uppercase italic leading-7 font-black text-center text-5xl"
    >
      <span class=""
        >SKILLS <br />
        <strong class="text-primary-500 font-black">LIST</strong></span
      >
    </div>
    @defer (on viewport) {

    <app-skills-list class="skills-list-container" />
    } @placeholder {
    <app-skills-list class="skills-list-container" />
    }
  </div>
  <span class="rasgadura-down"></span>
</section>
<section id="projects">
  <div
    class="rounded-md uppercase italic leading-7 font-black text-center text-5xl"
  >
    <app-hover-string
      text="PORTA#FOLIO#"
      growSize="7xl"
      class="text-6xl font-black uppercase relative"
    />
  </div>
  <app-project-gal />
</section>
<section id="contact">
  <span class="rasgadura-up"></span>
  <div class="contact-form-container">
    <app-contact-form />
  </div>
</section>
<app-footer />
