<app-navbar />
<section id="title"></section>

<section id="about">
  <span class="rasgadura-up"></span>
  <div
    class="border border-blue-400 lg:w-1/2 flex flex-col gap-3 -rotate-3 font-bold lg:max-w-[600px]"
  >
    <span class="font-black text-[6rem]"
      >¡Que <span class="text-primary-500">más</span>!</span
    >
    <p class="text-3xl">
      Soy <strong>Anderson Rueda</strong>,
      <strong class="text-primary-500"> desarrollador web</strong> dedicado y
      apasionado por el diseño, me dedico a convertir tus ideas en herramientas
      digitales que faciliten tu trabajo con eficiencia y estilo
    </p>
    <p class="text-3xl">
      Me encuentro constantemente
      <span class="text-primary-500">aprendiendo</span> cosas nuevas y
      afrontando retos
    </p>
    <img
      src="/decoration/arrow1.png"
      alt="marco foto perfil"
      class="size-20 object-contain absolute bottom-10 -right-10 -rotate-90 hidden lg:block"
    />
    <div class="flex gap-4">
      <img src="github.svg" alt="github icon" class="size-12" />
      <img src="linkedin.svg" alt="linkedin icon" class="size-12" />
    </div>
  </div>
  <div
    class="border border-blue-400 lg:w-1/2 lg:max-w-[600px] rotate-6 w-full flex items-center justify-center"
  >
    <img src="/decoration/marco1.png" alt="marco foto perfil" />
  </div>
  <span class="rasgadura-down"></span>
</section>
<section id="curriculum">
  <div
    class="overflow-hidden h-auto w-full bg-primary-500 text-secondary-500 flex items-center rotate-2 absolute top-32"
  >
    <div
      class="marquee flex whitespace-nowrap text-3xl font-bold gap-1 uppercase"
    >
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
      <p>Curriculum vitae -</p>
    </div>
  </div>

  <div
    class="w-full md:w-1/2 flex justify-center items-center flex-col md:max-w-[600px]"
  >
    <div class="experience-title-card -rotate-3">
      <img
        src="/icon2.png"
        alt=""
        class="absolute -top-5 -left-5 size-16 -rotate-6"
      />
      <span class=""
        >Experiencia <br />
        <strong class="text-primary-500 font-black">laboral</strong></span
      >
    </div>
    <ul class="experience-cotent-list -rotate-3 ml-7">
      <li class="experience-cotent-list-item">
        <span class="font-black text-xl">2022 AGO - ACTUALIDAD</span>
        <p class="font-black text-4xl uppercase text-primary-500">
          Analista ti
        </p>
        <p class="text-md">
          Gestión laboral SAS | Automatizaciòn de procesos con Power Platform,
          diseño de interfaces, administraciòn de bases de datos SQL SERVER
        </p>
      </li>
      <li class="experience-cotent-list-item">
        <span class="font-black text-xl">2022 AGO - ACTUALIDAD</span>
        <p class="font-black text-4xl uppercase text-primary-500">
          Analista ti
        </p>
        <p class="text-md">
          Gestión laboral SAS | Automatizaciòn de procesos con Power Platform,
          diseño de interfaces, administraciòn de bases de datos SQL SERVER
        </p>
      </li>
    </ul>
  </div>
  <div
    class="w-full md:w-1/2 flex justify-center items-center flex-col md:max-w-[600px]"
  >
    <div class="experience-title-card rotate-3">
      <img
        src="/icon1.png"
        alt=""
        class="absolute -top-7 -right-7 size-20 rotate-6"
      />
      <span class="text-6xl">Educación</span>
    </div>
    <ul class="experience-cotent-list rotate-3 mr-7">
      <li class="experience-cotent-list-item">
        <span class="font-black text-xl">2022 AGO - ACTUALIDAD</span>
        <p class="font-black text-4xl uppercase text-primary-500">
          TÉCNICO EN ANÁLISIS Y DESARROLLO DE SOFTWARE
        </p>
      </li>
    </ul>
  </div>
</section>
<section id="skills">
  <div class="skills-container">
    <div
      class="rounded-md uppercase italic leading-7 font-black text-center text-5xl"
    >
      <span class=""
        >SKILLS <br />
        <strong class="text-primary-500 font-black">LIST</strong></span
      >
    </div>
    <ul class="skills-category-list">
      <li>Frontend</li>
      <li>Backend</li>
      <li>Tools</li>
    </ul>
    <ul class="skills-icons-list">
      <li><img src="/skills/html.webp" alt="" /><span>Angular</span></li>
      <li><img src="/skills/html.webp" alt="" /><span>Angular</span></li>
      <li><img src="/skills/html.webp" alt="" /><span>Angular</span></li>
      <li><img src="/skills/html.webp" alt="" /><span>Angular</span></li>
    </ul>
  </div>
  <span class="rasgadura-down"></span>
</section>
<section id="projects"></section>
<section id="contact"></section>
<app-footer />
