@import "tailwindcss";
@import "../styles.css";

#title {
  @apply bg-[url("/backgrounds/bg2.png")] bg-cover bg-center bg-no-repeat w-full border-2 min-h-[35vh] max-h-[100vh] aspect-16/9;
}
* {
  @apply p-0 m-0;
}

#about {
  @apply bg-secondary-800 min-h-screen relative border border-red-400 pt-[3vw] flex flex-col lg:flex-row items-center justify-center p-5 px-20 lg:px-10 gap-5 italic mx-auto z-10;
}
#curriculum {
  @apply bg-secondary-500 h-auto min-h-[700px] flex  flex-col md:flex-row  items-end justify-center relative overflow-hidden gap-5 pt-50 sm:px-5;
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
.curriculum-list-container {
  @apply flex md:flex-row flex-col w-full border border-purple-700 gap-10 p-10 sm:p-0;
}
.marquee {
  @apply flex;
  animation: scroll 60s linear infinite;
}

#skills {
  @apply bg-secondary-800 h-auto min-h-[700px] flex flex-col lg:flex-row items-start justify-center border-dashed border-t-2 rotate-2 relative -left-5 mt-10 p-10 pb-20;
  width: calc(100vw + 100px);
  padding-right: calc(100px + 2.5rem);
}
.skills-container {
  @apply -rotate-2 border border-red-400 flex flex-col justify-center items-start size-full;
  width: calc(100vw - 50px);
}
.skills-list-container {
  @apply size-full  relative min-h-[500px];
}

#projects {
  @apply bg-secondary-500 min-h-screen flex flex-col  items-center justify-start mt-28 md:mt-36 xl:mt-40;
}

.btn {
  @apply p-0 rounded-sm  w-36 text-center text-2xl font-black;
}
.btn-primary {
  @apply bg-primary-500 border border-primary-300/25 text-black;
}
.btn-secondary {
  @apply border border-white text-white;
}
#contact {
  @apply bg-secondary-800 min-h-screen flex flex-col lg:flex-row items-center justify-center relative p-10;
}
.contact-form-container {
  @apply h-100 min-h-[700px] border border-blue-600 flex w-full items-center justify-center;
}
form {
  @apply bg-secondary-500 border border-primary-300/25 p-5 rounded-sm size-full max-w-[500px] max-h-[550px] flex flex-col gap-2 h-full border-dashed;
}
form button {
  @apply rounded-md w-full font-black text-2xl max-w-80 mx-auto mt-auto;
}
input,
textarea {
  @apply bg-primary-500/20 border border-primary-300/25 p-2 rounded-sm w-full max-h-60;
}
textarea {
  @apply h-full;
}
.rasgadura-up {
  @apply absolute inset-x-0 -top-[5vw] w-full h-auto aspect-16/1 bg-[url("/decoration/rasgadura1.png")] bg-center bg-contain bg-repeat-round border border-primary-500;
}

.rasgadura-down {
  @apply absolute inset-x-0 -bottom-[5vw] w-full h-auto aspect-16/1 bg-[url("/decoration/rasgadura2.png")] bg-center bg-contain bg-repeat-round border border-primary-500;
}
