@import "tailwindcss";
@import "../styles.css";

#title {
  @apply bg-[url("/backgrounds/bg2.png")] bg-cover bg-center bg-no-repeat w-full  min-h-[35vh] max-h-[100vh] aspect-16/9;
}
* {
  @apply p-0 m-0;
}

#about {
  @apply bg-secondary-800 min-h-screen relative  pt-[3vw] flex flex-col lg:flex-row items-center justify-center p-5  px-5 sm:px-20 lg:px-10 gap-5 italic mx-auto z-10;
}
#curriculum {
  @apply bg-secondary-500 h-auto min-h-[700px] flex  flex-col md:flex-row  items-end justify-center relative overflow-hidden gap-5 pt-50 sm:px-5;
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
.curriculum-list-container {
  @apply flex md:flex-row flex-col items-center justify-center w-full  gap-10 p-10 sm:p-0;
}
.marquee {
  @apply flex;
  animation: scroll 60s linear infinite;
}

#skills {
  @apply bg-secondary-800 h-auto min-h-[700px] flex flex-col lg:flex-row items-start justify-center border-dashed border-t-2 rotate-2 relative -left-5 mt-10 p-10 pb-20;
  width: calc(100vw + 125px);
  padding-right: calc(100px + 2.5rem);
}
.skills-container {
  @apply -rotate-2  flex flex-col justify-center items-start size-full;
  width: calc(100vw - 50px);
}
.skills-list-container {
  @apply size-full  relative min-h-[500px];
}

#projects {
  @apply bg-secondary-500 min-h-screen flex flex-col  items-center justify-start mt-28 md:mt-36 xl:mt-40;
}

#contact {
  @apply bg-secondary-800 min-h-screen relative h-auto flex;
}
.contact-form-container {
  @apply h-auto min-h-[700px] w-full;
}

.rasgadura-up {
  @apply absolute inset-x-0 -top-[4vw] w-full h-auto aspect-22/1 bg-[url("/decoration/rasgadura1.png")] bg-center bg-contain bg-repeat-round;
}

.rasgadura-down {
  @apply absolute inset-x-0 -bottom-[4vw] w-full h-auto aspect-22/1 bg-[url("/decoration/rasgadura2.png")] bg-center bg-contain bg-repeat-round;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}
