@import "tailwindcss";
@import "../styles.css";

#title {
  @apply bg-[url("/backgrounds/bg2.png")] bg-cover bg-center bg-no-repeat w-full border-2 min-h-[35vh] max-h-[100vh] aspect-16/9;
}
* {
  @apply p-0 m-0;
}

#about {
  @apply bg-secondary-800 min-h-screen relative border border-red-400 pt-[3vw] flex flex-col lg:flex-row items-center justify-center p-5 px-20 lg:px-10 gap-5 italic mx-auto z-10;
}
#curriculum {
  @apply bg-secondary-500 h-auto min-h-[700px] flex  flex-col md:flex-row  items-end justify-center relative overflow-hidden gap-5 p-5;
}
@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.marquee {
  @apply flex;
  animation: scroll 60s linear infinite;
}

.experience-title-card {
  @apply bg-secondary-800 border border-primary-300/25 p-2 m-2 rounded-md h-28 w-[100%] max-w-[500px] mx-auto flex items-center justify-center uppercase italic leading-7 font-black text-center text-5xl relative;
}

.experience-cotent-list {
  @apply h-auto w-[100%] max-w-[500px] flex flex-col items-center justify-center gap-2;
}
.experience-cotent-list-item {
  @apply bg-secondary-800 border border-primary-300/25  rounded-md h-auto w-[100%] max-w-[500px] flex items-start justify-center flex-col p-3;
}
#skills {
  @apply bg-secondary-800 h-auto min-h-[700px] flex flex-col lg:flex-row items-start justify-center border-dashed border-t-2 rotate-2 relative -left-5 mt-10 p-10 pb-20;
  width: calc(100vw + 100px);
  padding-right: calc(100px + 2.5rem);
}
.skills-container {
  @apply -rotate-2 border border-red-400 flex flex-col justify-center items-start size-full;
  width: calc(100vw - 100px);
}
.skills-category-list {
  @apply flex flex-row w-full h-auto justify-center gap-6 text-2xl  items-center flex-wrap my-10;
}
.skills-category-list li {
  @apply border-2 border-white p-2 rounded-3xl px-10;
}
.skills-icons-list {
  @apply flex flex-row w-full h-auto justify-center gap-6 items-center flex-wrap;
}
.skills-icons-list li {
  @apply p-2 rounded-3xl  object-contain size-36 flex flex-col items-center gap-3 mb-5 text-xl;
}

#projects {
  @apply bg-secondary-500 min-h-screen flex flex-col  items-center justify-start mt-28 md:mt-36 xl:mt-40;
}
.projects-container {
  @apply flex flex-col lg:flex-row  items-center justify-center gap-5 p-7 lg:p-20;
}
.project-selector {
  @apply flex lg:flex-col p-2 m-2  w-full lg:w-1/3;
}
.project-selector li {
  @apply size-full bg-secondary-800 border border-primary-300/25 rounded-md h-28 aspect-square;
}
.project-selector li img {
  @apply size-full object-contain;
}
.project-info {
  @apply border-2 border-primary-300/25  rounded-md h-auto w-full gap-2 flex flex-col;
}

.img-bg {
  @apply relative bg-[url("/gal-img/ATSIMG.webp")] bg-cover bg-center bg-no-repeat aspect-video relative;
}
.img-min {
  @apply size-48 border-amber-800 object-cover
  absolute;
}

.img-min-1 {
  @apply -top-5 -left-5 -rotate-6;
}
.img-min-2 {
  @apply -bottom-5 -right-5 rotate-6;
}
.colors {
  @apply size-48 border-amber-800 object-cover
  absolute -top-5 -right-5 flex;
}
.colors li {
  @apply size-14 border-black/50 border;
}

.project-info-tecnologies {
  @apply flex flex-row w-full h-auto gap-2 items-center flex-wrap mt-2;
}
.project-info-tecnologies li {
  @apply p-2 object-contain h-8 flex items-center gap-2 border border-primary-300/50 w-auto;
}
.project-info-tecnologies li img {
  @apply size-full object-contain;
}
.project-info h2 {
  @apply text-5xl font-black italic;
}
.project-info p {
  @apply text-xl;
}
.project-info-btns {
  @apply flex flex-row w-full h-auto gap-2 items-center  flex-wrap mt-2;
}
.btn {
  @apply p-0 rounded-sm  w-36 text-center text-2xl font-black;
}
.btn-primary {
  @apply bg-primary-500 border border-primary-300/25 text-black;
}
.btn-secondary {
  @apply border border-white text-white;
}
#contact {
  @apply bg-secondary-800 min-h-screen flex flex-col lg:flex-row items-center justify-center relative p-10;
}
.contact-form-container {
  @apply h-100 min-h-[700px] border border-blue-600 flex w-full items-center justify-center ;
}
form {
  @apply bg-secondary-500 border border-primary-300/25 p-5 rounded-sm size-full max-w-[500px] max-h-[550px] flex flex-col gap-2 h-full border-dashed;
}
form button {
  @apply  rounded-md w-full font-black text-2xl max-w-80 mx-auto mt-auto;
}
input,
textarea {
  @apply bg-primary-500/20 border border-primary-300/25 p-2 rounded-sm w-full max-h-60;
}
textarea {
  @apply h-full;
}
.rasgadura-up {
  @apply absolute inset-x-0 -top-[5vw] w-full h-auto aspect-16/1 bg-[url("/decoration/rasgadura1.png")] bg-center bg-contain bg-repeat-round border border-primary-500;
}

.rasgadura-down {
  @apply absolute inset-x-0 -bottom-[5vw] w-full h-auto aspect-16/1 bg-[url("/decoration/rasgadura2.png")] bg-center bg-contain bg-repeat-round border border-primary-500;
}
