/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
  @apply scroll-smooth scroll-mt-[60px] font-roboto;
}
body {
  @apply bg-secondary-500 text-white overflow-x-hidden;
}

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-mars: "Mars", sans-serif;
  --color-mint-100: oklch(0.97 0.15 145);
  --color-primary-300: #ffca41;
  --color-primary-500: #ffbe41;
  --color-primary-800: #cc9734;
  --color-secondary-300: #514f4f;
  --color-secondary-500: #2b2a2a;
  --color-secondary-800: #1b1818;
}

@font-face {
  font-family: "Mars";
  src: url("/fonts/MARSNEVENEKSK-Regular.otf") format("opentype");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.scale {
  @apply hover:scale-105 active:scale-95 transition-all duration-75;
}

.floatingX {
  animation: floatingX 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  will-change: transform;
}
.opacity-appearL {
  animation: opacityAppearL 0.75s cubic-bezier(0.4, 0, 0.2, 1) both;
  will-change: transform;
}
.opacity-appearR {
  animation: opacityAppearR 0.75s cubic-bezier(0.4, 0, 0.2, 1) both;
  will-change: transform;
}

@keyframes floatingX {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}
.floatingY {
  animation: floatingY 3s cubic-bezier(0.4, 0, 0.2, 1) infinite;
  will-change: transform;
}
@keyframes floatingY {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes opacityAppearL {
  0% {
    transform: translate3d(-30%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
@keyframes opacityAppearR {
  0% {
    transform: translate3d(30%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

::-webkit-scrollbar {
  @apply w-2;
}
::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded-full;
}
::-webkit-scrollbar-track {
  @apply bg-secondary-500;
}
