@if (!isSubmitted && !failed) {
<div
  class="flex flex-col lg:flex-row justify-around items-center size-full p-5 h-full overflow-hidden"
>
  <div
    class="rounded-md italic font-black text-center -rotate-3 flex flex-col items-center justify-center p-5 pt-10 size-full "
  >
    <app-hover-string
      [text]="translations[currentLanguage].contact.title"
      growSize="8xl"
      class="text-5xl sm:text-7xl uppercase scale-75 text-nowrap"
    />
    <span
      class="m-0 text-2xl md:text-3xl mb-10"
      [innerHTML]="translations[currentLanguage].contact.text1 | textFormat"
    ></span>
    <div class="flex justify-center gap-4">
      <a
        href="https://www.linkedin.com/in/anderson-david-rueda-consuegra/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="linkedin.svg" alt="linkedin icon" class="size-12 scale" />
      </a>
      <a
        href="https://github.com/andersondavi"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="github.svg" alt="github icon" class="size-12 scale" />
      </a>
    </div>
  </div>
  <div class="size-full flex flex-col justify-center items-center p-5">
    <form
      [formGroup]="myForm"
      class="flex flex-col size-full p-2 gap-6 justify-center"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col gap-2">
        <label for="name">{{
          translations[currentLanguage].contact.form.name
        }}</label>
        <input
          type="text"
          name="name"
          id="name"
          formControlName="name"
          [ngClass]="{
            'border-red-500': fieldIsValid('name') && myForm.touched
          }"
        />
        <div *ngIf="fieldIsValid('name')" class="text-red-500">
          {{ getFieldError("name") }}
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="email">{{
          translations[currentLanguage].contact.form.email
        }}</label>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          [ngClass]="{
            'border-red-500': fieldIsValid('email') && myForm.touched
          }"
        />
        <div *ngIf="fieldIsValid('email')" class="text-red-500">
          {{ getFieldError("email") }}
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="message">{{
          translations[currentLanguage].contact.form.message
        }}</label>
        <textarea
          name="message"
          id="message"
          formControlName="message"
          [ngClass]="{
            'border-red-500': fieldIsValid('message') && myForm.touched
          }"
        ></textarea>
        <div *ngIf="fieldIsValid('message')" class="text-red-500">
          {{ getFieldError("message") }}
        </div>
      </div>
      <div class="flex flex-col-reverse lg:flex-row items-center">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading">
          {{ translations[currentLanguage].contact.form.send }}
        </button>
      </div>
    </form>
    <a
      href="mailto:contactoandersonrueda@gmail.com/"
      target="_blank"
      class="email-link"
    >
      <img
        src="/email.svg"
        alt="email icon"
        class="my-3 h-[20px] w-[20px] object-contain hover:scale-110 lg:mx-5 mr-1 md:mx-0 active:scale-105"
      />
      <p class="text-wrap w-full lg:pr-10 break-words">
        contactoandersonrueda&#64;gmail.com
      </p>
    </a>
  </div>
</div>
} @if (isSubmitted) {

<section
  class="flex flex-col md:flex-row justify-evenly items-center size-full"
>
  <div class="flex flex-col justify-center items-center">
    <h2
      class="text-center text-6xl mb-3 font-semibold my-5 motion-preset-bounce motion-duration-500"
    >
      <app-hover-string
        [text]="translations[currentLanguage].contact.text2"
        growSize="7xl"
      />
    </h2>
    <p class="text-gray-300 text-lg motion-preset-bounce motion-duration-500">
      {{ translations[currentLanguage].contact.text3 | textFormat }}
    </p>
    <p class="w-[50%] border-b-2 border-primary my-5"></p>
  </div>
  <img
    src="/email-submit.svg"
    alt="submit-image"
    class="w-auto max-h-96 mt-10 motion-preset-bounce motion-duration-500"
  />
</section>
} @if (failed) {

<section
  class="flex flex-col md:flex-row justify-around items-center size-full"
>
  <div class="flex flex-col justify-center items-center p-5">
    <h2
      class="text-center text-6xl mb-3 font-semibold my-5 card-motion motion-preset-bounce motion-duration-500"
    >
      <app-hover-string
        [text]="translations[currentLanguage].contact.text4"
        growSize="7xl"
      />
    </h2>
    <p
      class="text-gray-300 text-lg motion-preset-bounce motion-duration-500 text-center max-w-[650px]"
    >
      {{ translations[currentLanguage].contact.text5 }}
    </p>
    <p class="w-[50%] my-5"></p>
    <div class="w-[130px] flex justify-center gap-3">
      <a href="mailto:contactoandersonrueda@gmail.com" class="size-9">
        <img
          src="/email.svg"
          alt="github"
          class="hover:scale-110 md:mx-0 h-full active:scale-105"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/anderson-david-rueda-consuegra-16b32821b/"
        target="_blank"
        class="size-9"
        rel="noopener noreferrer"
      >
        <img
          src="/linkedin.svg"
          alt="github"
          class="hover:scale-110 h-full active:scale-105"
        />
      </a>
    </div>
  </div>
  <img
    src="/email-error.svg"
    alt="submit-image"
    class="w-1/2 max-h-96 md:mt-10 motion-preset-bounce motion-duration-500"
  />
</section>
}
