@if (!isSubmitted && !failed && true) {
<div class="flex flex-col md:flex-row justify-around items-center size-full">
  <div class="rounded-md italic font-black text-center -rotate-3 flex flex-col">
    <app-hover-string text="¡Contáctame!" growSize="8xl" class="text-7xl uppercase" />
    <span class="m-0 border border-red-300 text-3xl mb-10"
      >Hagamos <strong class="text-primary-500">realidad</strong> tus
      ideas</span
    >
    <div class="flex justify-center gap-4">
      <img src="github.svg" alt="github icon" class="size-12" />
      <img src="linkedin.svg" alt="linkedin icon" class="size-12" />
    </div>
  </div>
  <div>
    <form
      [formGroup]="myForm"
      class="flex flex-col size-full p-2 gap-6 justify-center"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col gap-2">
        <label for="name">Nombre</label>
        <input
          type="text"
          name="name"
          id="name"
          formControlName="name"
          [ngClass]="{
            'border-red-500': fieldIsValid('name') && myForm.touched
          }"
        />
        <div *ngIf="fieldIsValid('name')" class="text-red-500">
          {{ getFieldError("name") }}
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="email">Correo</label>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          [ngClass]="{
            'border-red-500': fieldIsValid('email') && myForm.touched
          }"
        />
        <div *ngIf="fieldIsValid('email')" class="text-red-500">
          {{ getFieldError("email") }}
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label for="message">Mensaje</label>
        <textarea
          name="message"
          id="message"
          formControlName="message"
          [ngClass]="{
            'border-red-500': fieldIsValid('message') && myForm.touched
          }"
        ></textarea>
        <div *ngIf="fieldIsValid('message')" class="text-red-500">
          {{ getFieldError("message") }}
        </div>
      </div>
      <div class="flex flex-col-reverse lg:flex-row items-center">
        <button type="submit" class="btn btn-primary" [disabled]="isLoading">
          Enviar
        </button>
      </div>
    </form>
    <a
      href="mailto:contactoandersonrueda@gmail.com/"
      target="_blank"
      class="lg:w-2/3 w-full p-2 hidden md:flex md:items-center md:justify-start text-wrap gap-1 pr-5"
    >
      <img
        src="assets/email.svg"
        alt="github"
        class="my-3 h-[20px] w-[20px] object-contain hover:scale-110 mx-5 md:mx-0 active:scale-105"
      />
      <p class="text-wrap w-full break-words lg:pr-10">
        contactoandersonrueda&#64;gmail.com
      </p>
    </a>
  </div>
</div>
} @if (isSubmitted || false) {

<section
  class="flex flex-col md:flex-row justify-evenly items-center size-full bg-red-300/5"
>
  <div class="flex flex-col justify-center items-center">
    <h2
      class="text-center text-6xl mb-3 font-semibold my-5 card-motion motion-preset-bounce motion-duration-500"
    >
      <app-hover-string text="¡Todo listo!" growSize="7xl" />
    </h2>
    <p class="text-gray-300 text-lg motion-preset-bounce motion-duration-500">
      Nos estaremos comunicando contigo
    </p>
    <p class="w-[50%] border-b-2 border-primary my-5 card-motion"></p>
  </div>
  <img
    src="/email-submit.svg"
    alt="submit-image"
    class="w-auto max-h-96 mt-10 motion-preset-bounce motion-duration-500 border-2"
  />
</section>
} @if (failed || false) {

<section
  class="flex flex-col md:flex-row justify-around items-center size-full"
>
  <div class="flex flex-col justify-center items-center">
    <h2
      class="text-center text-6xl mb-3 font-semibold my-5 card-motion motion-preset-bounce motion-duration-500"
    >
      <app-hover-string text="Algo salió mal :(" growSize="7xl" />
    </h2>
    <p
      class="text-gray-300 text-lg motion-preset-bounce motion-duration-500 text-center max-w-[650px]"
    >
      No pudimos enviar directamente tu mensaje, pero puedes contactarme en mis
      redes sociales o enviarme un mensaje directo a mi correo
    </p>
    <p class="w-[50%] border-b-2 border-primary my-5 card-motion"></p>
    <div class="w-[130px] flex justify-center card-motion">
      <a
        href="mailto:contactoandersonrueda@gmail.com"
        class="h-[60px] w-[60px] flex items-center justify-center p-1"
      >
        <img
          src="/email.svg"
          alt="github"
          class="my-3 hover:scale-110 mx-5 md:mx-0 h-full active:scale-105"
        />
      </a>
      <a
        href="https://www.linkedin.com/in/anderson-david-rueda-consuegra-16b32821b/"
        target="_blank"
        class="h-[60px] w-[60px] flex items-center justify-center p-2"
      >
        <img
          src="/linkedin.svg"
          alt="github"
          class="my-3 hover:scale-110 mx-5 md:mx-0 h-full active:scale-105"
        />
      </a>
    </div>
  </div>
  <img
    src="/email-error.svg"
    alt="submit-image"
    class="w-1/2 max-h-96 mt-10 motion-preset-bounce motion-duration-500"
  />
</section>
}
